.grid img {
    width:90px;
    padding: 0;
}
.grid .using-floats {
    padding: 0;
    display: block;
}
.grid li {
    padding: 0;
    display: block;
}
.using-floats li {
    float: left;
}
.using-floats::after {
    content: "";
    display: block;
    clear: both;
}
.grid li {
    width: 25%;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
.using-inline-block {
    display: inline-block;
    font-size: 0;
}
.using-flex li {
    display: flex;
    flex-wrap: wrap;
}
.grid using-grid ul {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.using-grid li {
    width: 100%;
}